@media screen and (max-width: 650px)  {
    
    header {
        background: none;
        background-color: #fff;
        min-height: 10vh;
    }

    .floatingBox1 {
        display: none;
    }

    .h1Index {
        font-family: 'Pompiere', cursive;
        font-size: 1rem;
        line-height: 64px;
      }

      .tagLine {
        display: none;       
      }

    .floatingBox2 {
        display: none;
      }

    header nav ul {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 10px;
        text-align: right;
    }

    li.onThisPage a{
        padding: 0;
    }

    .button a{
        font-size: 1rem;
    }

    .newAdditionsImage {
        display: none;
    }

    .flexContainerRow {
        display: flex;
        flex-direction: column;
    }

    .underTheSea .wrapper.flexContainerCol {
        padding: 25px;

    }

    // .flexContainerCol {
    //     display: flex;
    //     flex-direction: row;
    // }



    .contactForm {
        position: relative;
        top:100px;
        align-self: center;
    }

    .manyOptionsImage {
        display: none; 
    }

    .manyOptionsText {
        padding: 50px 50px 50px 50px;
    }

    .newAdditionsText {
        padding: 0px 0px 75px 40px;
    }

    .shoeBanner {
        display: none;         
    }

    .monthlyFeatureImg {
        display: none; 
    }

    // Media Queries for BLOG page start here

    .blogHeader {
        background: none;
        background-color: #fff;
        min-height: 10vh;
    }

    .tagLineBlog {
        display: none;
    }

    .sideBar {
        display: none;     
    }

    .sidebarImage {
        display: none;
    }

    .floatingBox2 {
        display: none;  
    }

    .blogText {
        position: relative;
        top: 10px;
    }


    // Media Queries for CONTACT page start here

    .contactHeader {
        background: none;
        background-color: #fff;
        min-height: 10vh;
    }

    .tagLineContact {
        display: none;
    }


    // Media Queries for FORMS start here

    button.submit {
        font-size: 1rem;
    }

    button[type=submit] {
        font-size: 1rem;
    }

    }

    section.contactPage wrapper flexContainerRow {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }


    .contactForm {
        max-width: 75vw;
    }








