html {
    font-size: 62.5%;
}

.h1 {
    font-family: 'Pompiere', cursive;
    font-size: 8rem;
    line-height: 92px;

    &.h1Index {
      font-size: 11rem;
      line-height: 64px;
    }
  }

  .h2 {
    font-family: 'Pompiere', cursive;
    font-size: 5.2rem;
    letter-spacing: .16rem;
  }

 

  .h3 {

    font-family: 'Pompiere', cursive;
    font-size: 3rem;
    letter-spacing: .13rem;

  }

  .h4 {
    font-family: 'Pompiere', cursive;
    font-size: 5.2rem;
    letter-spacing: .12rem;
    text-align: center;
  }

  .h6 {
    font-family: 'Pompiere', cursive;
    font-size: 4.2rem;
    letter-spacing: .13rem;
  }


  nav {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    letter-spacing: .1rem;
    text-align: center;
  }

  p {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
}

.logoText {
    font-family: 'Pompiere', cursive;
    font-size: 3.58rem;
    line-height: 3.6rem;
    letter-spacing: .11rem;
}

.button {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    text-align: center;
    letter-spacing: .1rem;
}

  footer {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    text-align: center;
    line-height: 3.2rem;
  }


  .sidebarList {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
  }