footer {
  background-color: #882c07;
  margin: auto;
  text-align: center;
  padding: 10px 10px 10px 10px;
}

header {
  background-image: url(../assets/header-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  /* padding: 45px 0; */
}

.topHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.botHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  top: 10px;
}

header nav li a {
  margin: 20px 20px;
  color: #000;
}

.floatingBox1 {
  position: relative;
  top: 275px;
}

body {
  background-color: #201e21;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.flexContainerCol {
  /* designate flex parent container */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* definte axis of alignment, horizontally */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flexContainerRow {
  /* designate flex parent container */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* definte axis of alignment, horizontally */
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.underTheSea {
  background-color: #fae5ff;
}

.underTheSea p {
  text-align: center;
}

.underTheSea .button a {
  background-color: #4c0341;
  padding: 10px 15px;
  color: #fff;
}

.underTheSea .wrapper.flexContainerCol {
  padding: 175px;
}

.newAdditions {
  background-color: #fff;
}

.manyOptions {
  background-color: #fff;
}

.middleLinks {
  background-color: #fae5ff;
}

.shoeBanner {
  background-image: url(../assets/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: auto;
}

.monthlyFeature {
  background-color: #fff;
}

.bottomGallery {
  background-color: #fae5ff;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

.h1 {
  font-family: "Pompiere", cursive;
  font-size: 8rem;
  line-height: 92px;
}
.h1.h1Index {
  font-size: 11rem;
  line-height: 64px;
}

.h2 {
  font-family: "Pompiere", cursive;
  font-size: 5.2rem;
  letter-spacing: 0.16rem;
}

.h3 {
  font-family: "Pompiere", cursive;
  font-size: 3rem;
  letter-spacing: 0.13rem;
}

.h4 {
  font-family: "Pompiere", cursive;
  font-size: 5.2rem;
  letter-spacing: 0.12rem;
  text-align: center;
}

.h6 {
  font-family: "Pompiere", cursive;
  font-size: 4.2rem;
  letter-spacing: 0.13rem;
}

nav {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
}

.logoText {
  font-family: "Pompiere", cursive;
  font-size: 3.58rem;
  line-height: 3.6rem;
  letter-spacing: 0.11rem;
}

.button {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.1rem;
}

footer {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  text-align: center;
  line-height: 3.2rem;
}

.sidebarList {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
}