footer {
  background-color: #882c07;
  margin: auto;
  text-align: center;
  padding: 10px 10px 10px 10px;
}

footer p {
  color: #fff;
}

header {
  background-image: url(../assets/header-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  /* padding: 45px 0; */
}

.blogHeader {
  background-image: url(../assets/blog-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.contactHeader {
  background-image: url(../assets/contact-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.topHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.botHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  top: 10px;
}

header nav li a {
  margin: 20px 0px 0px 20px;
  color: #000;
}

header nav li a:hover {
  background-color: #882c07;
  color: #fff;
}

li.onThisPage a {
  background-color: #4c0341;
  padding: 10px 15px;
  color: #fff;
}

.logoText {
  position: relative;
  top: 10px;
}

.tagLine {
  position: relative;
  top: 125px;
}

.tagLineBlog {
  position: relative;
  top: 425px;
  left: 640px;
}

.tagLineContact {
  position: relative;
  top: 425px;
  left: 365px;
}

.floatingBox1 {
  position: relative;
  top: 275px;
}

body {
  background-color: #fae5ff;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.flexContainerCol {
  /* designate flex parent container */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* definte axis of alignment, horizontally */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flexContainerRow {
  /* designate flex parent container */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* definte axis of alignment, horizontally */
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:visited {
  color: #000;
}

.underTheSea {
  background-color: #fae5ff;
}

.underTheSea p {
  text-align: center;
}

.underTheSea .button a {
  background-color: #4c0341;
  padding: 10px 15px;
  color: #fff;
}

.underTheSea .wrapper.flexContainerCol {
  padding: 175px;
}

.newAdditions {
  background-color: #fff;
}

.newAdditionsImage img {
  position: relative;
  top: -65px;
  -webkit-box-shadow: 30px 30px 0px #fe6f19;
          box-shadow: 30px 30px 0px #fe6f19;
  width: 270%;
  height: auto;
}

.newAdditionsText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px 0px 75px 400px;
}

.newAdditions .button a {
  background-color: #4c0341;
  padding: 10px 15px;
  color: #fff;
}

.additionsOptions {
  background-color: #fff;
}

.additionsOptions .button a {
  background-color: #4c0341;
  padding: 10px 15px;
  color: #fff;
}

.manyOptionsImage img {
  position: relative;
  top: 105px;
  right: 220px;
  -webkit-box-shadow: -30px 30px 0px #fe6f19;
          box-shadow: -30px 30px 0px #fe6f19;
  width: 220%;
  height: auto;
}

.manyOptionsText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 50px 290px 50px 50px;
}

.manyOptionsText p {
  text-align: right;
}

.middleLinks {
  background-color: #fae5ff;
}

.middleLinksBox {
  padding: 20px;
}

.shoeBanner {
  background-image: url(../assets/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: auto;
  font-size: 0;
}

.monthlyFeature {
  background-color: #fff;
}

.monthlyFeature .flexContainerRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.monthlyFeatureImg {
  padding: 60px 0px 60px 0px;
}

.monthlyFeatureImg img {
  -webkit-box-shadow: 30px 30px 0px #fe6f19;
          box-shadow: 30px 30px 0px #fe6f19;
}

.monthlyFeatureText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px 0px 75px 50px;
}

.monthlyFeatureText .button a {
  background-color: #4c0341;
  padding: 10px 15px;
  color: #fff;
}

.bottomGallery {
  background-color: #fae5ff;
}

.bottomGalleryImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 0;
}

.button a:hover {
  background-color: #882c07;
}

.floatingBox2 {
  position: relative;
  top: -225px;
  left: 100px;
}

.floatingBox2 img {
  max-width: 90%;
  height: auto;
  -webkit-box-shadow: -30px 30px 0px #fe6f19;
          box-shadow: -30px 30px 0px #fe6f19;
}

.blogContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.blogText {
  position: relative;
  top: -200px;
}

.blogPost {
  background-color: #fff;
}

.commentBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.commentImg {
  padding: 0 20px 0 0;
}

fieldset {
  border: 0;
}

.commentsTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebarText {
  background-color: #fff;
  width: 70%;
  padding: 20px;
  position: relative;
  top: 100px;
}

ul.sidebarList {
  list-style-type: disc;
  padding: 0 10px 10px 20px;
}

.contactForm {
  background-color: #fff;
  padding: 50px;
  -webkit-box-shadow: -25px 25px 0px #fe6f19;
          box-shadow: -25px 25px 0px #fe6f19;
  position: relative;
  top: -140px;
  left: 100px;
}

.socialIcons i {
  padding: 0 20px 0 0;
}

.sideBar {
  position: relative;
  top: 50px;
}

input[type=text] {
  border-bottom: 2px solid #fe6f19;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding: 10px 10px;
  width: 45%;
  margin: 0;
  color: #000;
}

textarea {
  border: 2px solid #fe6f19;
  width: 100%;
  padding: 10px 10px;
  color: #000;
}

button.submit {
  background: #4c0341;
  width: 100%;
  border: none;
  padding: 10px 10px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
}

button[type=submit] {
  background: #882c07;
  width: 100%;
  border: none;
  padding: 10px 10px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 20px 0 0 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

.h1 {
  font-family: "Pompiere", cursive;
  font-size: 8rem;
  line-height: 92px;
}

.h1Index {
  font-family: "Pompiere", cursive;
  font-size: 11rem;
  line-height: 64px;
}

.h1Blog {
  font-family: "Pompiere", cursive;
  font-size: 11rem;
  line-height: 64px;
  text-transform: uppercase;
}

.h2 {
  font-family: "Pompiere", cursive;
  font-size: 5.2rem;
  letter-spacing: 0.16rem;
  text-transform: uppercase;
}

.h3 {
  font-family: "Pompiere", cursive;
  font-size: 3rem;
  letter-spacing: 0.13rem;
}

.h4 {
  font-family: "Pompiere", cursive;
  font-size: 5.2rem;
  letter-spacing: 0.12rem;
  text-align: center;
  text-transform: uppercase;
}

.h5 {
  font-family: "Pompiere", cursive;
  font-size: 3rem;
  letter-spacing: 0.13rem;
  text-transform: uppercase;
}

.h6 {
  font-family: "Pompiere", cursive;
  font-size: 4.2rem;
  letter-spacing: 0.13rem;
  text-transform: uppercase;
}

.h7 {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.h8 {
  font-family: "Pompiere", cursive;
  font-size: 3rem;
  letter-spacing: 0.13rem;
  text-transform: uppercase;
  color: #4c0341;
}

.h8 a visited {
  color: #4c0341;
}

nav {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
}

.logoText p {
  font-family: "Pompiere", cursive;
  font-size: 3.58rem;
  line-height: 0.6rem;
  letter-spacing: 0.11rem;
}

.button {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

footer {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  text-align: center;
  line-height: 0.8rem;
  color: #fff;
}

.sidebarList {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
}

.contactInfo p {
  line-height: 1rem;
}