html {
  font-size: 62.5%;
}

.h1 {
  font-family: "Pompiere", cursive;
  font-size: 8rem;
  line-height: 92px;
}

.h1Index {
  font-family: "Pompiere", cursive;
  font-size: 11rem;
  line-height: 64px;
}

.h1Blog {
  font-family: "Pompiere", cursive;
  font-size: 11rem;
  line-height: 64px;
  text-transform: uppercase;
}

.h2 {
  font-family: "Pompiere", cursive;
  font-size: 5.2rem;
  letter-spacing: 0.16rem;
  text-transform: uppercase;
}

.h3 {
  font-family: "Pompiere", cursive;
  font-size: 3rem;
  letter-spacing: 0.13rem;
}

.h4 {
  font-family: "Pompiere", cursive;
  font-size: 5.2rem;
  letter-spacing: 0.12rem;
  text-align: center;
  text-transform: uppercase;
}

.h5 {
  font-family: "Pompiere", cursive;
  font-size: 3rem;
  letter-spacing: 0.13rem;
  text-transform: uppercase;
}

.h6 {
  font-family: "Pompiere", cursive;
  font-size: 4.2rem;
  letter-spacing: 0.13rem;
  text-transform: uppercase;
}

.h7 {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.h8 {
  font-family: "Pompiere", cursive;
  font-size: 3rem;
  letter-spacing: 0.13rem;
  text-transform: uppercase;
  color: #4c0341;
}

.h8 a visited {
  color: #4c0341;
}

nav {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
}

.logoText p {
  font-family: "Pompiere", cursive;
  font-size: 3.58rem;
  line-height: 0.6rem;
  letter-spacing: 0.11rem;
}

.button {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

footer {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  text-align: center;
  line-height: 0.8rem;
  color: #fff;
}

.sidebarList {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
}

.contactInfo p {
  line-height: 1rem;
}